:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body {
  background: var(--light);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: inline-grid;
  border: 2px solid #fff;
  box-shadow: var(--shadow);
  padding: 10px;
  margin: 0 70vh;
  gap: 20px;
}

.title {
  display: grid;
  justify-self: center;
  font-size: 50px;
  color: #57b3dd;
  border-bottom: 5px solid royalblue;
  width: 420px;
}

.form {
  display: inline-grid;
  gap: 10px;
  grid-template-columns: repeat(1, minmax(100px, 500px));
  justify-self: center;
  align-self: center;
  height: 80vh;
  padding: 10px;
}

.form > label {
  font-size: 20px;
}

.form > input {
  padding: 10px;
}

.form > button {
  padding: 10px;
  width: 200px;
  justify-self: center;
  font-size: 16px;
  background: #57b3dd;
  border: none;
  box-shadow: var(--shadow);
  color: var(--light);
  margin-top: 10px;
}
